/* ==================================================================== */
/* ============================== GLOBAL ============================== */
/* ==================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

/* ==================================================================== */
/* ===============================LOGIN================================ */
/* ==================================================================== */

body {
    background-image: url('../images/latar.png');
    /* background-image: url('../images/latar2.jpg'); */
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.login__header .image1 {
    margin-bottom: -130px;
}

.login__header .image2 {
    margin-bottom: -60px;
}

.login__header img {
    width: 300px;
}

.login__header {
    margin-top: -90px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.login__header img {
  width: 250px;
}

.login__header h1 {
  color: #333;
  font-size: 1.5em;
}

.login__input {
  border: 2px solid #8f1d1d;
  border-radius: 8px;
  color: #333;
  font-size: 1em;
  margin-bottom: 15px;
  max-width: 300px;
  outline: none;
  padding: 15px;
  width: 100%;
}

.login__button {
  background-color: #f56b6b;
  border: 2px solid #8f1d1d;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  max-width: 300px;
  padding: 15px;
  width: 100%;
}

.login__button:hover {
  transform: scale(0.95);
  background-color: #bb5252;
}

.login__button:disabled {
  background-color: #eee;
  border: 2px solid #969595;
  color: #aaa;
  cursor: auto;
}

/* ================================================ */
/* ======================GAME====================== */
/* ================================================ */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('../images/latar.jpg');
  background-size: cover;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 237, 237, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 0 0 30px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #ccc;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #a13131;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
}

.back {
  background-image: url('../images/back1.jpeg');
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}


/* CSS untuk modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* ==================================================================== */
/* ======================= MODAL DETAIL (GAME) ======================== */
/* ==================================================================== */

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content p {
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 10px;
  background-color: #f56b6b;
  color: white;
  border: 2px solid #8f1d1d;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.modal-content button + button {
  margin-left: 10px;
}

.modal-content button:hover {
  background-color: #8f1d1d;
  border: 2px solid #f56b6b;
}


@media screen and (max-width:920px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

